<div class="card card--large">
  <div class="left">
    <div class="icon">
      <img
        src="/assets/icons/urgent_circled.png"
        alt=""
        srcset="
          /assets/icons/urgent_circled.png    1x,
          /assets/icons/urgent_circled@2x.png 2x,
          /assets/icons/urgent_circled@3x.png 3x
        "
        [ngClass]="{ '--hovered': isHovered }"
      />
    </div>
    <div class="details">
      <span class="counter">{{counter()}}</span>
      <span class="description"><ng-content></ng-content></span>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="right">
    <span class="date">{{shortestDeadline()}}</span>
    <span class="state">Upcoming Deadline</span>
  </div>
</div>
