.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    border: 2px solid #d1d1d1;
    height: 102px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .date {
    }
}
