nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    height: 100%;
    background-color: #2a3647;
    box-shadow: 0px 0px 4px 0px #0000001a;

    @media (orientation: portrait) {
        height: unset;
        width: 100vw;
    }

    .inner {
        max-height: 1080px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 64px 0;

        @media (orientation: portrait) {
            margin: 0;
        }

        .upper-bar {
            display: flex;
            flex-direction: column;
            flex: 1;

            > img {
                height: 122px;
                width: 100px;
                align-self: center;
                margin-bottom: 112px;
                @media (orientation: portrait) {
                    display: none;
                }
            }
        }

        .nav-links,
        .legal-links {
            display: flex;
            flex-direction: column;
            @media (orientation: portrait) {
                flex-direction: row-reverse;
                justify-content: space-around;
            }
        }

        .legal-links {
            margin-left: 56px;
            gap: 8px;
            @media (orientation: portrait) {
                display: none;
            }
        }
    }
}
