<nav>
  <div class="inner">
    <div class="upper-bar">
      <img src="" alt="Join" />
      <div class="nav-links">
        <navlink to="summary">Summary</navlink>
        <navlink to="new-task">Add Task</navlink>
        <navlink to="dashboard">Board</navlink>
        <navlink to="contacts">Contacts</navlink>
      </div>
    </div>
    <div class="legal-links">
      <legal-link to="privacy">Privacy Policy</legal-link>
      <legal-link to="legal-notice">Legal notice</legal-link>
    </div>
  </div>
</nav>
