a {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 8px 56px;
    align-items: center;

    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #cdcdcd;
    text-decoration: none;
    text-align: center;

    @media (orientation: portrait) or (pointer: coarse) {
        flex-direction: column;
        padding: 15px;
        border-radius: 8px;
    }

    &:hover {
        &.link--active {
            cursor: default;
        }

        background-color: var(--dark-hover-blue);
    }

    &.link--active {
        color: #ffffff;
        background-color: #091931;
        > img {
            filter: brightness(0) invert(1);
        }
    }

    span {
        @media (max-width: 380px) {
            display: none;
        }
    }
}
