button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background-color: inherit;

    &.button-padding--regular {
        padding: 15px 24px;
    }

    &.button-padding--small {
    }

    &.shape--regular {
        border-radius: 8px;
    }

    &.shape--circle {
        border-radius: 50%;
        padding: 12px !important;
    }

    font-size: 1rem;
    cursor: pointer;

    &.button--primary {
        color: #ffffff;
        background-color: var(--darkblue);

        &:hover,
        &:active {
            box-shadow: 0px 4px 4px 0px #00000040;
        }
        &:hover {
            background-color: var(--lightblue);
        }
        &:active {
            background-color: var(--dark-active-blue);
        }
        &:focus-visible {
            outline: 2px solid var(--lightblue);
        }
    }

    &.button--secondary {
        color: var(--darkblue);
        border: 1px solid var(--darkblue);

        &:hover,
        &:active {
            box-shadow: 0px 4px 4px 0px #00000040;
        }
        &:hover {
            color: var(--lightblue);
            border-color: var(--lightblue);
        }
        &:active {
            color: var(--dark-active-blue);
            border-color: var(--dark-active-blue);
        }
        &:focus-visible {
            outline: 2px solid var(--lightblue);
        }
    }

    &.font--bold {
        font-size: 1.3rem;
        font-weight: 700;
    }
}
