<div
  class="card card--medium"
  (mouseenter)="setHoveredTo(true)"
  (mouseleave)="setHoveredTo(false)"
>
  <div class="icon">
    <img
      src="/assets/icons/{{ icon() }}.png"
      alt=""
      class="icon-image"
      srcset="
    /assets/icons/{{ icon() }}.png    1x,
    /assets/icons/{{ icon() }}@2x.png 2x,
    /assets/icons/{{ icon() }}@3x.png 3x
  "
      [ngClass]="{ '--hovered': isHovered() }"
    />
    <img
      src="/assets/icons/{{ icon() }}_hovered.png"
      alt=""
      class="icon-hovered"
      srcset="
    /assets/icons/{{ icon() }}_hovered.png    1x,
    /assets/icons/{{ icon() }}_hovered@2x.png 2x,
    /assets/icons/{{ icon() }}_hovered@3x.png 3x
  "
      [ngClass]="{ '--hovered': !isHovered() }"
    />
  </div>

  <div class="details">
    <span class="counter">{{counter()}}</span>
    <span class="description"><ng-content></ng-content></span>
  </div>
</div>
