<div class="person-selector" (keydown.escape)="setFocus(false)">
  <div class="input-field">
    <input
      class="dropdown"
      type="text"
      [ngClass]="{ '--opened': isFocused }"
      (focus)="setFocus(true)"
      [value]="searchTerm()"
      (input)="inputSignal.setInputElement($event, searchTerm)"
      (keydown)="handleKeydown($event)"
      name="person-selector"
    />
    <img class="arrow" [ngClass]="{'--rotate': isFocused}" ngSrc="/assets/icons/arrow_drop_downaa.png" alt="" height="24" width="24">
  </div>
  <ul class="person-list" [ngClass]="{ '--focused': isFocused }">
    @for(person of taskService.assigned(); track $index) {
      @if (person.filtered) {
        <li
          tabindex="0"
          [attr.aria-label]="ariaForSelectedPersons(person)"
          [ngClass]="{'--selected': person.selected}"
          class="person-row"
          (click)="toggleAssignedPerson(person.id)"
          (keydown.space)="toggleAssignedPerson(person.id); $event.preventDefault()"
        >
            <div class="person__name-set" [attr.aria-hidden]="true">
              <div class="person-avatar" [ngStyle]="{'background-color': person.badge_color}">{{taskService.contacts.initials(person)}}</div>
              <div class="person-details" [innerHTML]="displayPersonDetails(person)"></div>
            </div>
            <div class="person-checkbox" [innerHTML]="drawCheckboxSvg(person)">
            </div>
        </li>
      }
    }
  </ul>
</div>
<selected-persons (click)="setFocus(false)"></selected-persons>
