.person-selector {
  position: relative;
  .input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    &:focus-within {
      outline: -webkit-focus-ring-color auto 1px;
    }
    .arrow {
      transition: 200ms all ease-in-out;
      &.--rotate {
        transform: rotate(180deg);
      }
    }
  }

  input {
    border: unset;
    width: 100%;
    padding: 12px 16px;
    border-radius: 10px;
    &:focus-visible {
      outline: none;
    }
  }



    .person-list {
      gap: 2px;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      display: none;
      background-color: #ffffff;

        &.--focused {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 2px;
        }
    }
}

.person-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: unset;
  border: none;

  padding: 7px 16px;
  box-sizing: border-box;
  border-radius: 10px;

  cursor: pointer;

  .person__name-set {
    display: flex;
    align-items: center;
    gap: 16px;

    .person-avatar {
      font-family: 'Inter', sans-serif;
      font-size: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 50%;
      border: 2px solid white;
      min-width: 40px;
      width: 40px;
      min-height: 40px;
      height: 40px;
    }

    .person-details {
      font-family: "Inter", Arial, Helvetica, sans-serif;
      font-size: clamp(1rem, 6vw, 1.25rem);
    }
  }

  &:hover {
    background-color: #0c2e621f;
  }

  &.--selected {
    color: white;
    background-color: var(--darkblue);
    &:hover {
      background-color: var(--dark-active-blue);
    }
  }

  .person-checkbox {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ul {
  list-style-type: none;
  max-height: 200px;
  overflow-y: auto;
}
