<div class="user-selector">
  <input
    class="dropdown"
    type="text"
    [ngClass]="{ '--opened': isFocused }"
    (focus)="setFocus(true)"
    (blur)="setFocus(false)"
    name="user-selector"
  />
  <div class="user-list" [ngClass]="{ '--focused': isFocused }">
    @for(user of users; track $index) {
    <div class="user-row">
      <div class="user-details">{{ user }}</div>
      <div class="user-checkbox"></div>
    </div>
    }
  </div>
</div>
<selected-users [shift]="false"></selected-users>
