.user-selector {
    position: relative;
    > input {
        border-radius: 10px;
        padding: 12px 16px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 2px;
    }

    .user-list {
        display: flex;
        gap: 2px;
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #ffffff;

        &.--focused {
            display: unset;
            width: 100%;
        }

        .user-row {
            display: flex;
            width: 100%;
            justify-content: space-between;

            padding: 7px 16px;
            box-sizing: border-box;
            border-radius: 10px;

            cursor: pointer;

            .user-details {
                font-family: "Inter", Arial, Helvetica, sans-serif;
                font-size: clamp(1rem, 6vw, 1.25rem);
            }

            .user-checkbox {
            }

            &:hover {
                background-color: #0c2e621f;
            }
        }
    }
}
