<div class="user-selector">
  <input
    class="dropdown"
    type="text"
    [ngClass]="{ '--opened': isFocused }"
    (focus)="setFocus(true)"
    [value]="searchTerm()"
    (input)="inputSignal.updateInputElement($event, searchTerm)"
    name="user-selector"
  />
  <div class="user-list" [ngClass]="{ '--focused': isFocused }">
    @for(person of filteredAssigned; track $index) {
    <button class="user-row" (click)="toggleAssignedPerson(person.id)">
      <div class="user-details">{{ person['first_name'] }} {{ person['surname']}}</div>
      <div class="user-checkbox"></div>
    </button>
    }
  </div>
</div>
<selected-users [shift]="false" (click)="setFocus(false)"></selected-users>
