<section class="board base_padding">
@if (loading()) {<loading-spinner />}
  <div class="board__header">
    <h1 class="page-title">Board</h1>
    <div class="task-control">
      <searchbar></searchbar>
      <button [joinButton]="{}"
        >Add task
        <img src="/assets/icons/add.svg" alt="">
      </button>
    </div>
  </div>
  <div class="board__body">
    @for (category of categories; track $index) {
    <div class="category">
      <div class="category__header">
        <h2>{{ category }}</h2>
        @if (!$last) {
        <button>
          <img
            src="/assets/icons/add.svg"
            style="filter: brightness(0)"
            alt="Add task"
          />
        </button>
        }
      </div>
      @switch (category) {
        @case ('To do') {
          @if (tasksToDo().length) {
            <div class="category__body --regular">
            @for (task of tasksToDo(); track task.id) {
              <task-card class="task-card" [task]="task"></task-card>
            }
            </div>
          } @else {
            <div class="category__body --bordered">No tasks to do</div>
          }
        }
        @case ('In progress') {
          @if (tasksInProgress().length) {
            @for (task of tasksInProgress(); track task.id) {
              <div class="category__body --regular">
                @for (task of tasksInProgress(); track task.id) {
                  <task-card class="task-card" [task]="task"></task-card>
                }
              </div>
            }
          } @else {
            <div class="category__body --bordered">No tasks in progress</div>
          }
        }
        @case ('Await feedback') {
          @if (tasksAwaitingFeedback().length) {
            @for (task of tasksAwaitingFeedback(); track task.id) {
              <div class="category__body --regular">
                @for (task of tasksAwaitingFeedback(); track task.id) {
                  <task-card class="task-card" [task]="task"></task-card>
                }
              </div>
            }
          } @else {
            <div class="category__body --bordered">No feedback awaited</div>
          }
        }
        @case ('Done') {
          @if (tasksDone().length) {
            @for (task of tasksDone(); track task.id) {
              <div class="category__body --regular">
                @for (task of tasksDone(); track task.id) {
                  <task-card class="task-card" [task]="task"></task-card>
                }
              </div>
            }
          } @else {
            <div class="category__body --bordered">No tasks done</div>
          }
        }
      }
    </div>
    }
  </div>
</section>
