.board {
  position: relative;
  height: 100%;
}

.board__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

    .task-control {
        display: flex;
        align-items: center;
    }
}

.board__body {
    display: flex;

    .category {
        font-family: "Inter", Arial, Helvetica, sans-serif;

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 24px;

            > button {
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: center;
              border: 2px solid #2a3647;
              border-radius: 8px;
              height: 24px;
              width: 24px;
              cursor: pointer;
              > img {
                  width: 16px;
                  height: 16px;
              }
            }
        }

        &__body {
            background-color: #e7e7e7;
            border: 1px solid #a8a8a8;
            border-radius: 10px;

            font-size: 1rem;
            font-weight: 400;
            color: #a8a8a8;
        }
    }
}
