<section class="contact-list" [ngClass]="{'--dimmed': dimmer.isActive()}">
  <div class="add-contact">
    <button (click)="contactMenu.showPopup(true)" class="add-contact-button landscape" [joinButton]="{bold: true}">Add new contact <img src="./assets/icons/person_add.svg" alt=""></button>
    <button (click)="contactMenu.showPopup(true)" class="add-contact-button portrait" [joinButton]="{bold: true, shape:'circle', buttonPadding: 'small'}"><img
      src="./assets/icons/person_add.svg" alt="add"></button>
  </div>
  <div class="spacer"></div>
  <ul class="contact-list__body">
    @for(contact of contacts.list(); track contact.id) {
      @if (newLetter(contact)) {
        <div class="letter-separator">
          {{contactNamesFirstLetterAsUppercase(contact.first_name)}}
          <hr>
        </div>
      }
      <li class="contact-overview">
        <button class="contact-overview__button" [ngClass]="{'--active': $index == contacts.currentListIndex()}" (click)="contacts.selectContactById(contact.id); activateContactButton($index)"
                attr.aria-label="Open contact details for {{ contact.first_name }} {{ contact.surname }}"
        >
          <div class="contact__avatar" [ngStyle]="{'background-color': contact.badge_color}">{{ contacts.initials(contact) }}</div>
          <div class="contact-overview__summary">
            <p class="contact__name">{{ contact.first_name }} {{contact.surname}}</p>
            <p class="contact__mail">{{ contact.email }}</p>
          </div>
        </button>
      </li>
    }
  </ul>
</section>
