.contact-list {
    position: relative;
    background-color: #fff;
    box-shadow: 4px 0px 6px 0px #00000014;
    height: 100%;
    width: 100%;

    top: 0;
    bottom: 0;

    .add-contact {
        position: fixed;

        @media (max-width: 1199px) {
            right: 32px;
            bottom: 20px;

            @media (orientation: portrait) {
                bottom: 116px;
                @media (max-width: 380px) {
                    bottom: 80px;
                }
            }
        }

        .add-contact-button {
          position: relative;
          bottom: 0;
            &.portrait {
                @media (min-width: 1200px) {
                    display: none !important;
                }
            }
            &.landscape {
                @media (max-width: 1199px) {
                    display: none !important;
                }
            }
        }
    }
}

.contact-overview {
  .contact__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFF;
    border-radius: 45px;
    border: 2px solid white;
    height: 40px;
    width: 40px;
  }

  > .contact-overview__button {
    display: flex;
    justify-content: left;
    cursor: pointer;
    align-items: center;
    background-color: unset;
    border-radius: 10px;
    border: none;
    padding: 15px 24px;
    text-align: left;
    gap: 35px;
    width: 100%;

    &.--active {
      background-color: var(--darkblue);
      color: white;
    }

    .contact__mail {
      color: #007CEE;
    }
  }
}

.contact-list__body {
  width: inherit;
  overflow-x: clip;
  padding-top: 75px;
}
