<div class="summary-grid">
  <summary-card-medium icon="backlog" class="card card-a"
    >To-do</summary-card-medium
  >
  <summary-card-medium icon="task_done" class="card card-b"
    >Done</summary-card-medium
  >
  <summary-card-large class="card card-c">Urgent</summary-card-large>
  <summary-card-small class="card card-d">Tasks in board</summary-card-small>
  <summary-card-small class="card card-e">Tasks in progress</summary-card-small>
  <summary-card-small class="card card-f">Awaiting feedback</summary-card-small>
</div>
