<div class="tag-selector" (click)="setFocus(true)">
  <input
    class="dropdown"
    type="text"
    [ngClass]="{ '--opened': isFocused }"
    [placeholder]="categories.list()[categories.selectedCategory().position]['name']"
    [value]="categories.list()[categories.selectedCategory().position]['name']"
    name="tag-selector"
  />
  <div class="tag-list" [ngClass]="{ '--focused': isFocused }">
    @for(category of categories.list(); track $index) { @if(!$first){
    <button
      class="tag-row"
      (click)="updateCategory(category['id'], $index); $event.stopPropagation()"
    >
      <div class="tag-details">{{ category['name'] }}</div>
    </button>
    } }
  </div>
</div>
