.tag-selector {
    position: relative;
    > input {
        border-radius: 10px;
        padding: 12px 16px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 2px;

        &.dropdown {
            background-image: url("/assets/icons/arrow_drop_downaa.png");
            background-image: image-set(
                url("/assets/icons/arrow_drop_downaa.png") 1x,
                url("/assets/icons/arrow_drop_downaa@2x.png") 2x,
                url("/assets/icons/arrow_drop_downaa@3x.png") 3x
            );
            background-position: right center;
            background-repeat: no-repeat;
            &.--opened {
                background-blend-mode: difference;
            }
        }
    }

    .tag-list {
        display: flex;
        gap: 2px;
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #ffffff;

        &.--focused {
            display: unset;
            width: 100%;
        }

        .tag-row {
          display: flex;
          width: 100%;
          justify-content: space-between;
          border: unset;
          background-color: unset;

          padding: 7px 16px;
          box-sizing: border-box;
          border-radius: 10px;

          cursor: pointer;

          .tag-details {
              font-family: "Inter", Arial, Helvetica, sans-serif;
              font-size: clamp(1rem, 6vw, 1.25rem);
          }

          &:hover {
              background-color: #0c2e621f;
          }
        }
    }
}
