<button [attr.aria-label]="tagSelectorState()" class="tag-selector" (click)="setFocus(true)">
  <span [attr.aria-hidden]="true"
    [ngClass]="{ '--opened': isFocused }"
  >{{ categories.list()[categories.selectedCategory().position]['name'] }}</span>
  <img class="arrow" [ngClass]="{'--rotate': isFocused}" ngSrc="/assets/icons/arrow_drop_downaa.png" alt="" height="24" width="24">
  <ul class="tag-list" [ngClass]="{ '--focused': isFocused }">
    @for(category of categories.list(); track $index) { @if(!$first){
      <button
        [attr.aria-label]="'Tag as ' + category['name']"
        class="tag-row"
        (click)="updateCategory(category['id'], $index); $event.stopPropagation()"
      >
        <li class="tag-details">{{ category['name'] }}</li>
      </button>
    } }
  </ul>
</button>
