.tag-selector {
  position: relative;
  width: 100%;
  background-color: #FFF;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: 1px solid var(--greyD1);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  padding: 12px 16px;

    .tag-list {
      position: absolute;
      gap: 2px;
      top: 100%;
      left: 0;
      z-index: 10;
      display: none;
      background-color: #ffffff;

        &.--focused {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .tag-row {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          width: 100%;
          border: unset;
          background-color: unset;

          padding: 7px 16px;
          box-sizing: border-box;
          border-radius: 10px;



          &:hover {
              background-color: #0c2e621f;
          }
        }
    }
}

.arrow {
  transition: all 200ms ease-in-out;
  &.--rotate {
    transform: rotate(180deg);
  }
}

li {
  list-style-type: none;
}
