.subtask-list{
  list-style-type: none;
}

.input__new-subtask {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 21px;
  border: 1px solid var(--greyD1);
  border-radius: 10px;
  background-color: #FFF;
  cursor: text;

  > .icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    max-width: 60px;

    > .input__plus-icon, > .input__confirm-icon {
      position: absolute;
      right: 0;
      filter: brightness(0) saturate(1);
      transition: transform 250ms ease-in-out, opacity 300ms ease-in-out, filter 225ms ease-in-out;
      cursor: pointer;
      &:hover {
        filter: brightness(0) saturate(1) invert(60%) sepia(28%) saturate(1218%) hue-rotate(155deg) brightness(93%) contrast(91%);
      }
    }

    > .input__plus-icon {
    }

    > .input__confirm-icon {
      visibility: hidden;
      opacity: 0;
    }
  }

  &:has(:focus-within) {
    outline: -webkit-focus-ring-color auto 1px;

    > .icons {
      > .input__plus-icon {
        transform: translateX(-110%) rotate(45deg);
      }

      > .input__confirm-icon {
        visibility: visible;
        opacity: 1;
      }
    }

  }

  >input {
    width: 100%;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
}
