.contact-view {
  position: relative;
  overflow-x: clip;
  display: flex;
  @media (orientation: landscape) {
    min-height: calc(100vh - 96px);
  }

  @media (orientation: portrait) {
    min-height: calc(100vh - 176px);
    @media (max-width: 380px) {
      min-height: calc(100vh - 147px);
    }
  }

  .contact-list {
    width: 0;
    transition: width 0.1s ease-in-out;

      @media (min-width: 1200px) {
        display: unset;
        width: clamp(min(25vw, 400px), min(25vw, 400px), min(25vw, 400px));
      }
  }

  .contact-details {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }
}

.edit-contact {
  position: absolute;
  z-index: 10;

  @media (min-width: 1200px) {
    top: 50%;
    animation: fadeSideToCenter 300ms ease-in-out forwards;
  }
  @media (max-width: 1199px) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    animation: fadeBottomToCenter 300ms ease-in-out forwards;
  }

  &.--despawn {
    @media (min-width: 1200px) {
      animation: fadeCenterToSide 300ms ease-in-out forwards;
    }
    @media (max-width: 1199px) {
      animation: fadeCenterToBottom 300ms ease-in-out forwards;
    }
  }
}

@keyframes fadeSideToCenter {
  from {
    right: 0;
    transform: translate(100%, -50%);
  }
  to {
    right: 50%;
    transform: translate(50%, -50%);
  }
}

@keyframes fadeCenterToSide {
  from {
    right: 50%;
    transform: translate(50%, -50%);
  }
  to {
    right: 0;
    transform: translate(100%, -50%);
  }
}

@keyframes fadeBottomToCenter {
  from {
    bottom: 0;
    transform: translate(-50%, 100%);
  }
  to {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}

@keyframes fadeCenterToBottom {
  from {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  to {
    bottom: 0;
    transform: translate(-50%, 100%);
  }
}
