.contact-view {
    display: flex;
    height: 100%;
    .contact-list {
        min-width: min(25vw, 400px);
        max-width: min(25vw, 400px);
    }
    .contact-details {
        display: flex;
        align-items: flex-start;
        flex: 1;
    }
}
