.contact-view {
  position: relative;
  overflow-x: clip;
  display: flex;
  @media (orientation: landscape) {
    height: calc(100dvh - 90px);
  }

  @media (orientation: portrait) {
    min-height: calc(100vh - 176px);
    @media (max-width: 380px) {
      min-height: calc(100vh - 147px);
    }
  }

  .contact-list {
    @media (max-width: 1199px) {
      width: 100%;
      &.--hide-list {
        width: 0;
        overflow-y: clip;
      }
    }

      @media (min-width: 1200px) {
        transition: width 0.1s ease-in-out;
        display: unset;
        width: clamp(min(25vw, 400px), min(25vw, 400px), min(25vw, 400px));
      }
  }

  .contact-details {
    width: 0;

    @media (width < 1200px) {
      &.--display-details {
        width: 100%;
      }
    }

    @media (width >= 1200px) {
      display: flex;
      align-items: flex-start;
      flex: 1;
    }
  }
}

.edit-contact {
  position: fixed;
  z-index: 10;

  @media (width >= 1200px) {
    top: 50%;
    animation: fadeSideToCenter 300ms ease-in-out forwards;
  }
  @media (width < 1200px) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    animation: fadeBottomToCenter 300ms ease-in-out forwards;
  }

  &.--despawn {
    @media (width >= 1200px) {
      animation: fadeCenterToSide 300ms ease-in-out forwards;
    }
    @media (width < 1200px) {
      animation: fadeCenterToBottom 300ms ease-in-out forwards;
    }
  }
}

@keyframes fadeSideToCenter {
  from {
    right: 0;
    transform: translate(100%, -50%);
  }
  to {
    right: 50%;
    transform: translate(50%, -50%);
  }
}

@keyframes fadeCenterToSide {
  from {
    right: 50%;
    transform: translate(50%, -50%);
  }
  to {
    right: 0;
    transform: translate(100%, -50%);
  }
}

@keyframes fadeBottomToCenter {
  from {
    bottom: 0;
    transform: translate(-50%, 100%);
  }
  to {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}

@keyframes fadeCenterToBottom {
  from {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  to {
    bottom: 0;
    transform: translate(-50%, 100%);
  }
}
