<section class="avatar-menu" (click)="toggleMenu()">
  <div
    [ngStyle]="{ width: avatarSize, height: avatarSize }"
    [ngClass]="{ 'white-border': whiteBorder(), menu: isMenu() }"
    class="avatar"
  >
    {{ initials() }}
  </div>
  @if (menuIsActive()) {
    <nav class="menu-body" aria-label="Main menu">
      <ul>
        <li routerLink="legal-notice"><a>Legal Notice</a></li>
        <li routerLink="privacy-policy"><a>Privacy Policy</a></li>
        <li (click)="logout()"><a>Log out</a></li>
      </ul>
    </nav>
  }
</section>
