.avatar {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2a3647;

    &.white-border {
        border-color: #fff;
        color: white;
    }

    border-radius: 50%;

    cursor: pointer;

    &.menu:hover {
        background-color: gray;
    }
}

.menu-body {
  position: fixed;
  top: 70px;
  right: 70px;
  z-index: 10;
  list-style-type: none;
  background-color: rgba(42, 54, 71, 1);
  color: rgba(205, 205, 205, 1);
  border-radius: 20px 0 20px 20px;
  padding: 10px;
  >li {
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
      background-color: var(--dark-hover-blue);
    }
  }
}
