.contact-details {
  position: relative;
    .contact-details__headline {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (orientation: portrait) {
            flex-direction: column;
            gap: 15px;
            align-items: unset;
        }

        height: 100%;

        font-family: "Inter", Arial, Helvetica, sans-serif;

        h1 {
            font-size: clamp(1.25rem, 7.5vw, 3.8rem);
            @media (orientation: portrait) {
                margin-block: 0;
            }
        }

        .subtitle {
            font-size: clamp(1rem, 6vw, 1.69rem);
        }

        .divider {
            &--landscape {
                display: none;
                @media (orientation: landscape) {
                    display: unset;
                    border: 1.5px solid var(--lightblue);
                    height: 56px;
                }
            }

            &--portrait {
                display: none;
                @media (orientation: portrait) {
                    display: unset;
                    border: 1.5px solid var(--lightblue);
                    width: 90px;
                }
            }
        }
    }
}

.back-btn {
  display: none;
  &.mobile-only {
    @media (width < 1200px) {
      display: unset;
      position: absolute;
      top: 90px;
      right: clamp(5px, 8%, 40px);
    }
  }
}
