<section class="contact-details base_padding">
  <button class="back-btn" [ngClass]="{'mobile-only': contacts.contactDetails()}" (click)="closeContactDetails()">
    <img src="/assets/icons/arrow-left.svg" alt="Go back">
  </button>
  <div class="contact-details__headline">
    <h1>Contacts</h1>
    <span class="divider--landscape"></span>
    <span class="subtitle">Better with a team</span>
    <span class="divider--portrait"></span>
  </div>
  <div class="contact-details__body">
    <single-contact></single-contact>
  </div>
</section>
