.selected-persons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

    & .person-avatar {
      position: relative;
      font-family: 'Inter', sans-serif;
      font-size: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      border: 2px solid white;
      cursor: pointer;

      &:hover {
        .tooltip {
          display: inline-block;
        }
      }
    }
}

.tooltip {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: var(--lightblue);
  bottom: 0;
  left: 0;
  padding: 4px;
  border-radius: 4px;
  z-index: 1;
  transform: translateY(100%);
}
