main {
    position: relative;
    background-color: #f6f7f8;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    .joinAnimation {
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-25%, -25%) scale(0.25);
        z-index: 100;
        &.--animate {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (orientation: landscape) {
                animation: joinLogo 1000ms 200ms forwards;
            }
            @media (orientation: portrait) {
                animation: joinLogo 1500ms 200ms forwards;
            }
        }
    }
}

.intro__background.--animate {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 99;
    @media (orientation: landscape) {
        background-color: white;
        animation: joinLogoBackground 1200ms 200ms forwards;
    }
    @media (orientation: portrait) {
        background-color: white; // posible adjustments on color swap for logo
        animation: joinLogoBackground 2000ms 200ms forwards;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
    justify-self: center;
    flex: 1;
    > header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 35px;
        * {
            font-family: "Inter", Arial, Helvetica, sans-serif;
        }
        &.d-none {
            display: none;
        }
    }
    > .dialog {
        flex: 1;
        align-content: center;
        align-self: center;
    }
    > footer {
        > a {
            font-family: "Inter", Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: var(--greyA8);

            &:hover {
                color: var(--lightblue);
            }
        }
        display: flex;
        gap: 16px;
        justify-content: center;
    }
}

@keyframes joinLogo {
    to {
        top: 0%;
        left: 0%;
        transform: translate(-25%, -25%) scale(0.25);
    }
}

@keyframes joinLogoBackground {
    0% {
        filter: opacity(1);
    }
    99% {
        filter: opacity(0);
    }
    100% {
        display: none;
    }
}
