<main>
  <div
    class="intro__background"
    [ngClass]="{ '--animate': joinAnimationState }"
  ></div>
  <section>
    <img
      src="/assets/icons/join2.png"
      alt=""
      srcset="
        /assets/icons/join2.png    1x,
        /assets/icons/join2@2x.png 2x,
        /assets/icons/join2@3x.png 3x
      "
      class="joinAnimation"
      [ngClass]="{ '--animate': joinAnimationState }"
    />
    <header [ngClass]="{ 'd-none': activeSignUp }">
      <span>Not a Join user?</span>
      <join-button (click)="toggleSignUp()">Sign up</join-button>
    </header>
    @if (activeSignUp) {
    <sign-up class="dialog"></sign-up>
    } @else {
    <log-in class="dialog"></log-in>
    }
    <footer>
      <a [routerLink]="'privacy'">Privacy policy</a>
      <a [routerLink]="'legal-notice'">Legal notice</a>
    </footer>
  </section>
</main>
