main {
    position: relative;

    > .joinAnimation {
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-25%, -25%) scale(0.25);
        z-index: 100;
        &.--animate {
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            @media (orientation: landscape) {
                animation: joinLogo 1000ms 200ms forwards;
            }
            @media (orientation: portrait) {
                animation: joinLogo 1500ms 200ms forwards;
            }
        }
    }
}

.intro__background.--animate {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 99;
    @media (orientation: landscape) {
        background-color: white;
        animation: joinLogoBackground 1200ms 200ms forwards;
    }
    @media (orientation: portrait) {
        background-color: white; // posible adjustments on color swap for logo
        animation: joinLogoBackground 2000ms 200ms forwards;
    }
}

section {
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;
    min-height: 100vh;
    min-width: 100vw;
    > header {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &.d-none {
            display: none;
        }
    }
    > .dialog {
        flex: 1;
        align-content: center;
        align-self: center;
    }
}

@keyframes joinLogo {
    to {
        top: 0%;
        left: 0%;
        transform: translate(-25%, -25%) scale(0.25);
    }
}

@keyframes joinLogoBackground {
    0% {
        filter: opacity(1);
    }
    99% {
        filter: opacity(0);
    }
    100% {
        display: none;
    }
}
