@if(contact.contactDetails()) {
  <div class="contact-details-body">
    <span>Contact Information</span>

    <div class="user-information">
      <span class="section-title">Address</span>
      <p>{{ contact.contactDetails().address.street }}<br>
      {{ contact.contactDetails().address.zip_code }}&nbsp;{{ contact.contactDetails().address.city }}</p>
    </div>
    <div class="user-information">
      <span class="section-title">Email</span>
      <a [attr.href]="'mailto:'+contact.contactDetails().email"><span class="mail">{{ contact.contactDetails().email }}</span></a>
    </div>
    <div class="user-information">
      <span class="section-title">Phone</span>
      <span class="phone">{{ contact.contactDetails().phone }}</span>
    </div>
  </div>
}
