.subtitle {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: 400;
    &.required::after {
        content: "*";
        color: #ff8190;
    }
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 21px;

    &.textarea {
        resize: vertical;
    }
}

.task-view {
    .section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .priorities {
        display: flex;
        gap: 16px;
    }

    .task-view__body {
        display: flex;
        gap: 80px;

        @media (orientation: portrait) {
            flex-direction: column;
        }

        &__left,
        &__right {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
    }

    .task-view__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & > .required.description {
            display: flex;
            font-family: "Inter", Arial, Helvetica, sans-serif;
            font-size: 1rem;
            font-weight: 400;
            &::before {
                content: "*";
                color: #ff8190;
            }
        }

        .footer-buttons {
            display: flex;
        }
    }
}

.color-switch:hover {
  >img {
    filter: brightness(0) invert(56%) sepia(56%) saturate(660%) hue-rotate(154deg) brightness(93%) contrast(90%);;
  }
}
