* {
  font-family: 'Inter', sans-serif;
}

.subtitle {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: 400;
    &.required::after {
        content: "*";
        color: #ff8190;
    }
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 21px;

    &.textarea {
        resize: vertical;
    }
}

.task-view {
  height: 100%;
  max-height: calc(100dvh - 90px);
  overflow-y: auto;
  position: relative;



    .section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .priorities {
      display: flex;
      gap: 16px;
      @media (width <475px) {
        flex-direction: column;
      }
    }

    .task-view__body {
      margin-top: 16px;
      display: flex;
      gap: clamp(32px, 5.5dvw, 80px);

      @media (orientation: portrait) or (pointer: coarse) or (width <= 970px) {
        flex-direction: column;
        gap: 32px;
      }

      &__left,
      &__right {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 16px;
      }
    }

    .task-view__footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 32px;

      @media (width < 450px) {
        flex-direction: column;
        gap: 12px;
      }

        & > .required.description {
          display: flex;
          align-self: center;
          @media (width < 450px) {
            align-self: flex-start;
          }
          font-family: "Inter", Arial, Helvetica, sans-serif;
          font-size: 1rem;
          font-weight: 400;
          &::before {
              content: "*";
              color: #ff8190;
          }
        }

        .footer-buttons {
          display: flex;
          gap: 16px;
          //@media (width < 560px) {
          //  gap: 4px;
          //  align-self: center;
          //  flex-direction: column-reverse;
          //}
        }
    }
}

.color-switch:hover {
  >img {
    filter: brightness(0) invert(56%) sepia(56%) saturate(660%) hue-rotate(154deg) brightness(93%) contrast(90%);;
  }
}
