<section class="task-view">
  <h1 class="page-title">Add Task</h1>
  <div class="task-view__body">
    <div class="task-view__body__left">
      <div class="section">
        <span class="subtitle required">Title</span>
        <input [value]="taskTitle()" (input)="inputSignal.setInputElement($event, taskTitle)" type="text" name="task-title" class="input" />
      </div>
      <div class="section">
        <span class="subtitle">Description</span>
        <textarea [value]="taskDescription()" (input)="inputSignal.setInputElement($event, taskDescription)"
          name="task-description"
          class="input textarea"
        ></textarea>
      </div>
      <div class="section">
        <span class="subtitle">Assigned to</span>
        <person-selector></person-selector>
      </div>
    </div>
    <div class="task-view__body__right">
      <div class="section">
        <span class="subtitle required">Due date</span>
        <date-picker></date-picker>
      </div>
      <div class="section">
        <span class="subtitle">Prio</span>
        <div class="priorities">
          @for (priorityLevel of priorityLevels; track $index) {
          <prio-button
            [level]="priorityLevel"
            [active]="$index == currentPriority()"
            (click)="setPriorityTo($index)"
          ></prio-button>
          }
        </div>
      </div>
      <div class="section">
        <span class="subtitle required">Category</span>
        <tag-selector></tag-selector>
      </div>
      <div class="section">
        <span class="subtitle required">Subtasks</span>
        <subtask-form></subtask-form>
      </div>
    </div>
  </div>
  <div class="task-view__footer">
    <span class="required description">This field is required</span>
    <div class="footer-buttons">
      <button class="color-switch" type="reset" [joinButton]="{primary: false}">Cancel <img src="./assets/icons/cancel_regular.svg" alt=""></button>
      <button (click)="pseudoObject()" [joinButton]="{}">Create Task <img src="./assets/icons/checkmark_regular.svg" alt=""></button>
    </div>
  </div>
</section>
