/* You can add global styles to this file, and also import other style files */
@use "./app/shared/scss/fonts";

:root {
    --darkblue: #2a3647;
    --dark-active-blue: #091931;
    --dark-hover-blue: #2a3d59;
    --lightblue: #29abe2;
    --greyD1: #d1d1d1;
    --greyA8: #a8a8a8;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
