<form class="box" onsubmit="return false">
  <div>
    <h1>Log in</h1>
    <divider></divider>
  </div>
  <div class="inputs">
    <div class="input-field">
      <text-input
        name="E-Mail"
        placeholder="E-Mail"
        icon="mail"
        [size]="24"
        [error]="invalidEmail"
        autocomplete="email"
      ></text-input>
      <span
        class="error mail"
        [attr.aria-hidden]="!invalidEmail"
        [ngClass]="{ '--error-displayed': !invalidEmail }"
        >Error</span
      >
    </div>
    <div class="input-field">
      <text-input
        name="Password"
        placeholder="Password"
        [error]="invalidPassword"
        icon="lock"
        autocomplete="current-password"
      ></text-input>
      <span
        class="error password"
        [attr.aria-hidden]="!invalidPassword"
        [ngClass]="{ '--error-displayed': !invalidPassword }"
        >Error</span
      >
    </div>
  </div>
  <div class="buttons">
    <button [joinButton]="{bold: true}">Log in</button>
    <button (click)="guestLogin()" [joinButton]="{bold: true, primary: false}">Guest Log in</button>
  </div>
</form>
