.box {
    display: flex;
    flex-direction: column;
    gap: 32px;

    border-radius: 30px;
    box-shadow: 0 0 14px 3px #0000000a;
    background-color: white;
    padding: 48px 115px;

    h1 {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        margin-block: 0 16px;
        font-weight: 700;
        font-size: 61px;
        text-align: center;
    }

    > .inputs {
        display: flex;
        flex-direction: column;
        gap: 8px;
        > .input-field {
            display: flex;
            flex-direction: column;
            gap: 8px;

            > .--error-displayed {
                visibility: hidden;
            }
        }
    }
}

.buttons {
    display: flex;
    gap: 35px;
}
