main {
    display: flex;

    @media (orientation: portrait) {
        flex-direction: column-reverse;
        min-height: 100vh;
    }

    > #content-view {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
