.contact-header {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 54px;

    .user-overview {
      display: flex;
      flex-direction: column;
      gap: 8px;
        .contact-actions {
          display: flex;
          gap: 12px;
          > button {
            display: flex;
            border: none;
            background-color: inherit;
            cursor: pointer;
          }
        }
    }
}

.contact-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 70px;
  min-height: 114px;
  height: 114px;
  min-width: 114px;
  width: 114px;
}
