.contact-header {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 54px;

    .user-overview {
        > button {
            border: none;
            background-color: inherit;
            cursor: pointer;
        }
    }
}

.contact-avatar {
  border: 2px solid white;
  border-radius: 45px;
  width: 40px;
  height: 40px;
}
